body {
  margin: 0;
  background-color: #e2e8f0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.App{

  margin-top: 100px;
}
