body {
  background-color: #e2e8f0;
  box-sizing: border-box;
  text-align: center;

 
}

.app{
  display: flex;
  justify-content: center;
  margin-top: 100px;
 
}

.todo{
  width: 550px;
  margin:0px  2%;
}

.app-container{
  border: 2px solid gray;
  border-radius: 5px;
  background-color: white;
  padding: 0 5%;
}